<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<title>mySite</title>
		<link rel="stylesheet" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	</head>
	<div id="body">
		<body>
			<div id="main">
				<header>
					<img src="{% static "images/logoo.png" %}" alt="elaundry" style="width:851px height:315px">
				</header>
				<div id="navbar">
					<ul>
						<li>Home</li>
						<li>Services</li>
						<li>Contact</li>
						<li>About</li>
					</ul>
				</div>
				<h1>Welcome!</h1>
                {% for post in posts %}
                    <h3><a href="">{{ post.title }}</a></h3>
                    <p>published: {{ post.published_date }}</p>
                    <p>{{ post.text }}</p>
                {% endfor %}
				<div id="foot">
					<footer>
						<p>&copy; 2015 rjremudaro networking. All Rights Reseved</p>
					</footer>
				</div>
			</div>
		</body>
	</div>
</html>